/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 2em 2em 5em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(210, 210, 210);
	padding: 1em 1em;
	}

body {
	font-family: sans-serif;
}

h1 {
	width: 12em;
	}

h2, h3, h4 {
		font-weight: 700;
	}

h2 {
	font-size: 2em;
	margin: 1em 0.1em 0.4em;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 0.1em 0.5em;
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 2.8em 0.1em;
}	

main.menu ul li {
		margin: 2em 0.1em 1.2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 0.1em 0.5em;
	}
	
p.description {
	grid-column: 1/3;
	margin: 0.1em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(255, 0, 0);
	text-align: right;
	margin: 0.1em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: rgb(251, 255, 19);
	background-color: rgb(18, 45, 255);
	padding: 0.4em 0.3em 0.2em;
	}
	

p.slogan {
	font-size: 3.5em;
	font-family: serif;
	font-style: italic;
	margin: 0.5em 0.2em 1.2em;
	color: rgb(255, 255, 255);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(251, 255, 19);
}

address {
	color: rgb(255, 171, 16);
	margin: 0.1em;
	}

footer p {
	margin: 0;
}
