/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

body {
    background-color: rgb(245,245,245);
    color: rgb(29,28,27);
    line-height: 190%;
    font-family: poppins, sans-serif;
}

h1 {
	background-color: rgb(250, 158, 30);
	color: rgb(245, 245, 245); /* Same as body background. */
	font-size: 2em;
	padding: 1em 0.8em 0.5em; 
	font-weight: 700;
	font-family: Sutro, serif;
    font-style: normal;
}

h2 {
	background-color: rgb(250, 158, 30);
	color: rgb(233, 231, 231);
	font-size: 1.5em;
	padding: 0.1em 1.1em 0.8em;
	font-family: Sutro, serif;
	font-weight: 300;
    font-style: normal;
}

h3 {
	margin: 1em 1.2em 0.5em; 
	padding-top: 0.4em;
	font-size: 1.5em;
	color: rgb(250, 158, 30);
    font-family: Sutro, serif;
    font-weight: 300;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
}

figcaption {
    padding: 1em 1.5em 0.5em;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: italic;
}

ul {
	margin: 0.1em 1em 0.1em;
}

ol {
    margin: 0.1em 1em 0.2em;
}

li { 
	margin: 0.1em 1em 1em;
}

footer {
    background-color: rgb(250, 158, 30);
	color: rgb(245, 245, 245);
    padding: 0.7em 1em 0.5em;
}


/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */


